body{
    background-color: aliceblue;
    text-align: center;
}

input[type="submit"]{
    -webkit-appearance: button; /* Google Chromeç”¨ */
    width: 150px;
    height: 50px;
    font-size: 32px;
    margin-bottom: 20px;
}

.result {
    display: inline-block;
    background-color: white;
    font-size: 64px;
    text-align: center;
    border: 2px black solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

table, th, td {
    border: 1px black solid;
    border-collapse: collapse;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.error {
    color: red;
    margin-top: 5px;
    margin-bottom: 10px;
}
